*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    max-height: 100vh;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: oblique;
    background: url('background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    background-attachment: fixed;
    overflow-y: hidden;
    font-size: 20px;
    color: #000;
    font-weight: bold;
}
.content{
    font-weight: bold;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
input{
    padding:15px;
    text-align: center;
    color: #fff;
    border: none;
}


.options-txt{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    gap: 15px;
}

.options-txt input{
    padding: 10px;
    border: none;
    margin-left: 10px;
    background: #14bf;
    box-shadow: 1px 1px 2px #000;
    border-radius: 3px;
}

.number{
    display: flex;
    gap: 10px;
}

.button-confirm{
    display: flex;
    margin-top: 30px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}



.button1{
    padding: 8px 14px;
    cursor:pointer;
    border: none;
    color: rgb(255, 255, 255);
    background: #14bf;
    border-radius: 4px;
    box-shadow: 1px 2px 2px #0b1460 
}

.reset{
    margin: 11% auto;
    padding: 8px 14px;
    cursor:pointer;
    border: none;
    display: none;
    color: #fff;
    background: #14bf;
    border-radius: 4px;
    box-shadow: 1px 2px 2px #0b1460;
}

.exibeBtn{
    display: flex;
}



.button1:hover{
    color: snow;
    text-shadow: 0.1px 0.2px 0.2px #fff;
    transition: 1s;
     transform: rotateY(12deg); 
     rotate:-95deg;   
}

.result{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-size: 16px;
    align-items: center;
    text-align: center;

}

.caixa{ 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    background-color: #14b451;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    padding: 15px 20px;
}

.options-txt.img{
    margin:0  auto;
    text-align:center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contagem{
    display: flex;
    align-items: center;
    justify-content: center;
}
#gif{
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
